# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# IntelliJ files
*.iml
*.project
/venv
.idea

# VSCode files
.DS_Store
*.code-workspace
*.vscode

# Eclipse files
.classpath
.settings

# CMake files
cmake-build-debug/
build/
CMakeFiles/
.cmake/
CMakeCache.txt
compile_commands.json

# Object files and debugging files
*.o
*.out
*.dSYM
.gdb_history

# Vim files
*.swp
$HOME

# clang-tidy files
.cache/

# Apple files
*.icloud

# QML files
.rcc/
